{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>class-edit</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/global-menu.css' %}">
</head>
<body class="m-3 px-4 bg-light">
    <a class="btn btn-outline-secondary mb-3" href="{% url 'app:index' %}">
        <i class="bi bi-arrow-left"></i>戻る
    </a>
    <div class="card shadow-sm mb-5">
        <div class="card-header d-flex">
            <h2 id="class-basic-info-{{subject.pk}}-class-name">{{ subject.class_name }}</h2>
            <button type="button" class="btn btn-outline-secondary ms-3" id="edit-class-basic-info-{{subject.pk}}" onclick="toggleEditClass('class-basic-info', '{{ subject.pk }}')">
                <i class="bi bi-pencil js-display-class-basic-info-{{subject.pk}}"></i>
                <i class="bi bi-arrow-counterclockwise js-display-class-basic-info-{{subject.pk}} hide-content"></i>
            </button>

        </div>
        <div class="card-body">

            <div class="mt-3 js-display-class-basic-info-{{subject.pk}}" id="class-basic-info">
                <p class="d-flex">
                    <i class="bi bi-geo-alt-fill me-2"></i>
                    <span id="class-basic-info-{{subject.pk}}-classroom-name">{{ subject.classroom_name }}</span>
                </p>   
                <p class="d-flex">
                    <i class="bi bi-person-fill me-2"></i>
                    <span id="class-basic-info-{{subject.pk}}-professor-name">{{ subject.professor_name }}</span>
                </p>
            </div>
            <form class="mb-3 js-display-class-basic-info-{{subject.pk}} hide-content" method="post" id="edit-form-class-basic-info-{{subject.pk}}" onsubmit="updateClassBasicInfo(event, '{{ subject.pk }}')">
                {% csrf_token %}
                {{ class_basic_info_form.as_p }}
                <button class="btn btn-dark mt-3" type="submit">変更</button>
                
            </form>
        </div>
    </div>

    <div class="mb-5">
        <div class="align-items-center d-flex border-bottom">
            <h3 class="mb-0">宿題</h3>
            <button type="button" id="btn-add-homework" class="btn btn-link btn-lg text-decoration-none text-primary">+</button>
        </div>
        <div id="homework-form" class="class-edit-form mt-3">
            <div class="class-edit-form-content">
                <form class="mb-3" method = "post">
        
                    {% csrf_token %}
                    {{ homework_form.as_p }}
                    <button class="btn btn-dark mt-3" type="submit" name="submit-homework-form">追加</button>
                    
                </form>
            </div>
        </div>
        {% for homework in homeworks %}
            <div class="card" id="homework-{{homework.item.pk}}">
                <div class="card-body">
                    
                    <div class="d-flex mb-3">
                        <button type="button" class="btn btn-outline-secondary me-3 btn-edit-homework" id="edit-homework-{{homework.item.pk}}" onclick="toggleEditClass('homework', '{{ homework.item.pk }}')">
                            <i class="bi bi-pencil js-display-homework-{{homework.item.pk}}"></i>
                            <i class="bi bi-arrow-counterclockwise js-display-homework-{{homework.item.pk}} hide-content"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-delete-homework" id="delete-homework-{{homework.item.pk}}" onclick="deleteHomework('{{homework.item.pk}}')">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>

                    <div class="d-flex js-display-homework-{{homework.item.pk}}">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" value="">
                        </div>
                        <p class="card-text">
                            締め切り: <span id="homework-{{ homework.item.pk }}-deadline">{{ homework.item.deadline|date:"Y年m月d日" }}</span><br>
                            内容: <span id="homework-{{ homework.item.pk }}-content"> {{ homework.item.content|linebreaksbr  }}</span>
                        </p>
                    </div>
                    <form class="mb-3 form-edit-homework js-display-homework-{{homework.item.pk}} hide-content" method="post" id="edit-form-homework-{{homework.item.pk}}" onsubmit="updateHomework(event, '{{ homework.item.pk }}')">
                        {% csrf_token %}
                        {{ homework.form.as_p }}
                        <button class="btn btn-dark mt-3" type="submit">変更</button>
                        
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>
        <div class="align-items-center d-flex border-bottom">
            <h3 class="mb-0">メモ</h3>
            <button type="button" id="btn-add-memo" class="btn btn-link btn-lg text-decoration-none text-primary">+</button>
        </div>
        <div id="memo-form" class="class-edit-form mt-3">
            <div class="class-edit-form-content">
                <form class="mb-3" method = "post">
        
                    {% csrf_token %}
                    {{ memo_form.as_p }}
                    <button class="btn btn-dark mt-3" type="submit" name="submit-memo-form">追加</button>
                    
                </form>
            </div>
        </div>
        {% for memo in memos %}
        <div class="card" id="memo-{{memo.item.pk}}">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <button type="button" class="btn btn-outline-secondary me-3 btn-edit-memo" id="edit-memo-{{memo.item.pk}}" onclick="toggleEditClass('memo', '{{ memo.item.pk }}')">
                        <i class="bi bi-pencil js-display-memo-{{memo.item.pk}}"></i>
                        <i class="bi bi-arrow-counterclockwise hide-content js-display-memo-{{memo.item.pk}}"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-delete-memo" id="delete-memo-{{memo.item.pk}}" onclick="deleteMemo('{{memo.item.pk}}')">
                        <i class="bi bi-x"></i>
                    </button>

                </div>
                <p class="card-text js-display-memo-{{memo.item.pk}}" id="memo-{{memo.item.pk}}-content">
                    {{ memo.item.content|linebreaksbr }}
                </p>
                
                <form class="mb-3 js-display-memo-{{memo.item.pk}} form-edit-memo hide-content" method = "post" id="edit-form-memo-{{memo.item.pk}}" onsubmit="updateMemo(event, '{{ memo.item.pk }}')">
                    {% csrf_token %}
                    {{ memo.form.as_p }}
                    <button class="btn btn-dark mt-3" type="submit">変更</button>
                    
                </form>
            </div>
        </div>
        {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="{% static 'js/class-edit.js' %}"></script>

</body>
</html>