{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" xintegrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/class-edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/global-menu.css' %}">
    <title>授業編集</title>

</head>
<body>
    {% include "app/includes/global-menu.html" %}
    <main class="container">
        <a class="btn btn-outline-secondary mb-3" href="{% url 'app:index' %}">
            <i class="bi bi-arrow-left"></i>戻る
        </a>
        
        <div class="card class-item mb-5">
            <div class="card-header d-flex bg-transparent border-bottom-0 pt-4 px-4">
                <h2 class="item-title m-0" id="class-basic-info-{{subject.pk}}-class-name" style="font-size: 1.5rem;">{{ subject.class_name }}</h2>
                <button type="button" class="btn btn-outline-secondary ms-3 btn-sm border-0" id="edit-class-basic-info-{{subject.pk}}" onclick="toggleEditClass('class-basic-info', '{{ subject.pk }}')">
                    <i class="bi bi-pencil js-display-class-basic-info-{{subject.pk}}"></i>
                    <i class="bi bi-arrow-counterclockwise js-display-class-basic-info-{{subject.pk}} hide-content"></i>
                </button>
            </div>
            <div class="card-body px-4 pb-4">
                <div class="mt-2 js-display-class-basic-info-{{subject.pk}}" id="class-basic-info">
                    
                    <p class="d-flex align-items-center mb-2">
                        <i class="bi bi-geo-alt-fill me-2 text-secondary"></i>
                        {% if subject.classroom_name is not None %}
                        <span id="class-basic-info-{{subject.pk}}-classroom-name">{{ subject.classroom_name }}</span>
                        {% endif %}
                    </p>   

                    
                    <p class="d-flex align-items-center mb-0">
                        <i class="bi bi-person-fill me-2 text-secondary"></i>
                        {% if subject.professor_name is not None %}
                        <span id="class-basic-info-{{subject.pk}}-professor-name">{{ subject.professor_name }}</span>
                        {% endif %}
                    </p>
                        
                </div>
                <form class="mb-0 js-display-class-basic-info-{{subject.pk}} hide-content" method="post" id="edit-form-class-basic-info-{{subject.pk}}" onsubmit="updateClassBasicInfo(event, '{{ subject.pk }}')">
                    {% csrf_token %}
                    {{ class_basic_info_form.as_p }}
                    <button class="btn btn-primary mt-3" type="submit">変更</button>
                </form>
            </div>
        </div>
    
        <div class="mb-5">
            <div class="align-items-center d-flex border-bottom pb-2 mb-3">
                <h3 class="item-title m-0">宿題</h3>
                <button type="button" id="btn-add-homework" class="btn btn-link btn-lg text-decoration-none ms-auto p-0" style="line-height: 1;">
                    <i class="bi bi-plus-circle-fill add-item-button"></i>
                </button>
            </div>
            
            <div id="homework-form" class="class-edit-form">
                <div class="class-edit-form-content class-item">
                    <form class="mb-0" method="post">
                        {% csrf_token %}
                        {{ homework_form.as_p }}
                        <div class="text-end">
                            <button class="btn btn-primary mt-2" type="submit" name="submit-homework-form">追加</button>
                        </div>
                    </form>
                </div>
            </div>

            {% for homework in homeworks %}
                <div class="card class-item {% if homework.item.is_finished %} finished {% endif %}" id="homework-{{homework.item.pk}}">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-end mb-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary me-2 btn-edit-homework border-0" id="edit-homework-{{homework.item.pk}}" onclick="toggleEditClass('homework', '{{ homework.item.pk }}')">
                                <i class="bi bi-pencil js-display-homework-{{homework.item.pk}}"></i>
                                <i class="bi bi-arrow-counterclockwise js-display-homework-{{homework.item.pk}} hide-content"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger btn-delete-homework border-0" id="delete-homework-{{homework.item.pk}}" onclick="deleteHomework('{{homework.item.pk}}')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
    
                        <div class="d-flex align-items-start js-display-homework-{{homework.item.pk}}">
                            <div class="form-check me-3">
                                <input type="checkbox" class="form-check-input" id="homework-{{ homework.item.pk }}-checkbox" value="" {% if homework.item.is_finished %} checked {% endif %} onclick="finish_homework('{{homework.item.pk}}')">
                            </div>
                            <label class="card-text flex-grow-1 {% if homework.item.is_finished %}homework-finished{% endif %}" for="homework-{{ homework.item.pk }}-checkbox" style="cursor: pointer;">
                                <div class="text-muted small mb-1">
                                    締め切り: <span id="homework-{{ homework.item.pk }}-deadline" class="fw-bold">{{ homework.item.deadline|date:"Y年m月d日" }}</span>
                                </div>
                                <div id="homework-{{ homework.item.pk }}-content" class="fs-6">
                                    {{ homework.item.content|linebreaksbr }}
                                </div>
                            </label>
                        </div>

                        <form class="mt-3 form-edit-homework js-display-homework-{{homework.item.pk}} hide-content" method="post" id="edit-form-homework-{{homework.item.pk}}" onsubmit="updateHomework(event, '{{ homework.item.pk }}')">
                            {% csrf_token %}
                            {{ homework.form.as_p }}
                            <div class="text-end">
                                <button class="btn btn-primary mt-2" type="submit">変更</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mb-5">
            <div class="align-items-center d-flex border-bottom pb-2 mb-3">
                <h3 class="item-title m-0">メモ</h3>
                <button type="button" id="btn-add-memo" class="btn btn-link btn-lg text-decoration-none ms-auto p-0" style="line-height: 1;">
                    <i class="bi bi-plus-circle-fill add-item-button"></i>
                </button>
            </div>

            <div id="memo-form" class="class-edit-form">
                <div class="class-edit-form-content class-item">
                    <form class="mb-0" method="post">
                        {% csrf_token %}
                        {{ memo_form.as_p }}
                        <div class="text-end">
                            <button class="btn btn-primary mt-2" type="submit" name="submit-memo-form">追加</button>
                        </div>
                    </form>
                </div>
            </div>

            {% for memo in memos %}
            <div class="card class-item" id="memo-{{memo.item.pk}}">
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary me-2 btn-edit-memo border-0" id="edit-memo-{{memo.item.pk}}" onclick="toggleEditClass('memo', '{{ memo.item.pk }}')">
                            <i class="bi bi-pencil js-display-memo-{{memo.item.pk}}"></i>
                            <i class="bi bi-arrow-counterclockwise hide-content js-display-memo-{{memo.item.pk}}"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger btn-delete-memo border-0" id="delete-memo-{{memo.item.pk}}" onclick="deleteMemo('{{memo.item.pk}}')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>

                    <div class="card-text js-display-memo-{{memo.item.pk}} px-2" id="memo-{{memo.item.pk}}-content">
                        {{ memo.item.content|linebreaksbr }}
                    </div>
                    
                    <form class="mt-3 js-display-memo-{{memo.item.pk}} form-edit-memo hide-content" method="post" id="edit-form-memo-{{memo.item.pk}}" onsubmit="updateMemo(event, '{{ memo.item.pk }}')">
                        {% csrf_token %}
                        {{ memo.form.as_p }}
                        <div class="text-end">
                            <button class="btn btn-primary mt-2" type="submit">変更</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" xintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/class-edit.js' %}"></script>

</body>
</html>